* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex; /* first 4 properties making text to center */
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: large;
  background: palevioletred;
}

a {
  border: 2px solid black;
  padding: 2rem 4rem;
  text-transform: uppercase; /* all text conv to upper case */
  background-color: white;
  color: rgb(6, 6, 6); /* text colour */
  position: relative; /* because we using before attribiute relative means old positon kept */
  text-decoration: none; /* no anchor line  */
}

a::before {
  content: "buttton";
  display: flex; /* first 4 properties making text to center */
  justify-content: center;
  align-items: center;
  position: absolute; /* in place of hover it sticks */

  text-transform: uppercase; /* all text conv to upper case */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: palevioletred;
  color: aliceblue;
  transform: rotateX(270deg);
  transform-origin: top;
  transition: all 0.7s;
}

a::after{
    content: "button";
    position: absolute; /* in place of hover it sticks */

  text-transform: uppercase; /* all text conv to upper case */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateX(270deg);
  transform-origin: top;
  transition: all 0.7s;
  transition-delay: 0.25s;
  color: aliceblue;
}

a:hover:before,
a:hover::after{
transform: rotateX(0);
}
