* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  height: 100vh; /* 100 % height of browser or screen vh:view port hieght */
  display: flex; /* to make this in center*/
  justify-content: center; /* make horizontally center */
  align-items: center; /* make vertically center */
  /* together make item in center */
}

.container {
  width: 700px;
  height: 450px;
  position: relative; /* change my positon but keep my space */
  background: #000;
}
.clip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: all 0.4s ease-out ;
}

.clip1 {
  background: url(J1.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0%, 100% 40%, 0 40%);
}

.clip3 {
  background: url(J4.jpg);
  background-size: cover;
  background-position: center;
  clip-path: inset(27% 40% 26% 40%);
}

.container:hover .clip {
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
}

.container .clip:hover {
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 00%);
}
