* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    360deg ,  
    rgba(84, 172, 142, 0.827) ,
    rgba(255, 255, 255 )
  );
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  font-family: sans-serif;
}

.container {
  /* img making some size */
  width: 30rem;
  height: 30rem;

  position: relative;
  overflow: hidden;
}

.container img {
  /* img perfectly set to the box */
  width: 100%;
  position: relative;

  /* from the top how much image should be down */
  top: 50px;
  height: auto;
  transition: all 0.5s;
}

.content {
  /* those text black color when hovered */
  position: absolute;
  bottom: 0;
  left: 0;
  /* its just occupy 25% of space  */
  height: 25%;
  width: 100%;
  /* center the content */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.7s;
  color: rgb(255, 255, 255);
  background: rgb(23, 23, 23);
  /* this is the hover direction comes from */
  transform: translateY(100%);
  /* keep in mind we do not use before and after effect in hower */
}

.container:hover .content {
  transform: translateY(0);
}

.head {
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 80px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  /* this makes any text center */
  /*from left it takes 50% space and top 35px if u need center then use 50%  in top then use -ve trandform translae first in (for X 50% then Y)*/
  top: 25px;
  left: 50%;
  transform: translate(-50%);
  position: absolute; /* stick to that place */
  text-shadow: 2px 2px 5px rgb(255, 255, 255);
}

.head:hover {
  color: rgb(224, 7, 7);
  text-shadow: 3px 2px 5px rgb(0, 0, 0);
}
